/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  color: #050507;
  font-family: 'Shippori Antique', sans-serif;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: calc(100% - 16px * 2);
  max-width: 800px;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

p {
  line-height: 1.6;
}

.title-color {
  color: #0E536D;
}

.title-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  position: relative;
  font-weight: 600;
}

.title-text::before,
.title-text::after {
  content: '';
  position: absolute;
  width: 20%;
  height: 4px;
  background-color: #F6B7AA;
  bottom: calc(50% - 2px);
}

.title-text::before {
  left: 0;
}

.title-text::after {
  right: 0;
}

.section-title {
  text-align: center;
}

.section-inner {
  margin: 96px 0;
}

.en {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 16px;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

/* --------------------------
        header
-----------------------------*/

header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgba(255,255,255,0.8);
  z-index: 10;
}

.site-title p {
  font-size: 12px;
  color: #0E536D;
  font-weight: normal;
}

header img {
  height: 60px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ハンバーガーメニュー（閉じている時） */
.hamburger {
  margin-left: 32px;
  cursor: pointer;
  z-index: 30;
  margin-top: 2px;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #0E536D;
  transition: all .3s;
}

.hamburger span + span {
  margin-top: 7px;
}

.hamburger p {
  font-size: 12px;
  margin-top: 6px;
  transform: translateX(-4px);
  color: #0E536D;
}

/* ハンバーガーメニュー（クリック時の動き） */
.hamburger.active span:nth-child(1) {
  transform: translateY(10px) rotate(-135deg);
}

.hamburger.active span:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(135deg);
}

#navi {
  width: 100%;
  height: 100vh;
  padding-left: 16px;
  background-color: rgba(246, 183, 170, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: left;
  transition: all .6s ease;
  opacity: 0;
  visibility: hidden;
}

#navi .menu li {
  transform: translateX(-32px);
  transition: transform .6s ease;
}

#navi.active {
  opacity: 1;
  visibility: visible;
}

#navi.active .menu li {
  transform: translateX(0);
}

#navi .site-title {
  margin-right: auto;
}

#navi .menu {
  margin: 80px auto;
}

#navi .menu li a {
  color: #0E536D;
  opacity: 0.7;
  transition: color .3s;
  position: relative;
}

#navi .menu li a:hover {
  opacity: 1;
}

#navi .menu li + li {
  margin-top: 24px;
}

#navi .menu li a::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #0E536D;
  position: absolute;
  bottom: -2px;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  transition: all .3s;
}

#navi .menu li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-nav {
  display: none;
}

/* --------------------------
        main-visual
-----------------------------*/

main {
  padding-top: 80px;
  width: 100%;
}

#main-visual {
  position: relative;
  padding-top: 0;
  height: calc((var(--vh, 1vh) * 100) - 80px);
}

#main-visual .container {
  position: absolute;
  top: 0;
  left: 16px;
}

/* --- main-visualのBOX定義 --- */
.main-visual-img {
  position   : relative;
  max-width: 100%;
  height: calc((var(--vh, 1vh) * 60) - 80px);
}

/* --- 背景の指定 --- */
.main-visual-img .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : fade 15s infinite; 
  background-size: cover;
  background-position: center;
}

/* --- 背景アニメーション --- */
.main-visual-img .src1 {
  background-image : url(../img/main-visual1.jpg);   
}
.main-visual-img .src2 {
  background-image : url(../img/main-visual2.jpg);   
  animation-delay  : 5s;
}
.main-visual-img .src3 {
  background-image : url(../img/main-visual3.jpg);  
  animation-delay  : 10s;
}

@keyframes fade {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}

.main-visual-text {
  margin-top: calc((60vh - 80px) / 2 - 12px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-visual-text li {
  color: #fff;
  text-shadow: 0 4px 6px #050507;
  position: absolute;
  top: 0;
  opacity: 0;
  animation  : fade 15s infinite; 
}

.main-visual-text li:nth-child(2) {
  animation-delay  : 5s;
}

.main-visual-text li:nth-child(3) {
  animation-delay  : 10s;
}

.main-image {
  position: absolute;
  top: calc((var(--vh, 1vh) * 60) - 80px);
  right: 0;
  left: 0;
}

.main-image img {
  display: block;
  height: calc((var(--vh, 1vh) * 40) - 80px);
  margin: 20px auto 0;
}

/* --------------------------
        about
-----------------------------*/
#about li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#about li:nth-child(even) {
  flex-direction: row-reverse;
}

#about li p,
#about li img {
  width: calc(50% - 16px);
}

#about li + li {
  margin-top: 80px;
}

#about li img {
  border-radius: 16px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  transition: transform .6s;
}

#about li:hover img {
  transform: scale(1.1);
}

/* --------------------------
        lecturer
-----------------------------*/
.section-info {
  background-color: #FAE06A;
  padding: 32px 16px;
  border-radius: 32px;
  text-align: center;
}

.section-text {
  padding: 16px 8px;
  background-color: #fff;
  border-radius: 32px;
  text-align: center;
}

.section-text h3 {
  border-bottom: 2px solid #0E536D;
  width: fit-content;
  margin: 0 auto 16px;
  font-weight: normal;
}

.section-info img {
  border-radius: 32px;
  margin-top: 48px;
  width: 80%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* --------------------------
        blog
-----------------------------*/
#blog .section-info {
  background-color: #0E536D;
}

#blog .section-text {
  text-align: left;
}

#blog ul {
  padding: 0 16px;
}

#blog .section-text time {
  font-size: 14px;
  color: #F6B7AA;
}

#blog li {
  padding-bottom: 16px;
}

#blog li + li {
  padding-top: 16px;
  border-top: 1px dotted #0E536D;
}

.blog-title {
  color: #050507;
}

/* --------------------------
        access
-----------------------------*/

.address {
  margin-bottom: 24px;
}

.iframe-wrap{
  position:relative;
  width:100%;
  padding-top: 100%;
  margin:0 auto;
}

.iframe-wrap iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}

/* --------------------------
        fee
-----------------------------*/

.fee-details li + li {
  margin-top: 4px;
}

.fee-details li {
  display: flex;
  align-items: center;
}

#fee img {
  width: 16px;
  height:16px;
  margin-right: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 24px;
}

.headline {
  font-weight: normal;
}

th,
td {
  border: 1px solid #0E536D;
  padding: 8px 0;
}

th {
  background-color: rgba(14, 83, 109, 0.5);
}

tbody tr td {
  text-align: center;
}

.price {
  text-align: right;
  padding-right: 16px;
}

.attention {
  text-align: right;
  padding-top: 4px;
}

/* --------------------------
        無料体験ボタン
-----------------------------*/
/* 共通 */
.experience-button {
  display: block;
  cursor: pointer;
  /* background-color: #F6B7AA; */
  background-color: rgba(246, 183, 170, 0.9);
  color: #0E536D;
  text-align: center;
  position: fixed;
  bottom: 0;
  transition: all .6s;
}

.experience-button:hover {
  background-color: #fff;
  color: #F6B7AA;
}

.experience-button h3 {
  font-size: 24px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  font-weight: normal;
}

.experience-button span,
.experience-button p {
  font-size: 20px;
}

.experience-button h3::before,
.experience-button h3::after  {
  content: '';
  height: 60px;
  width: 1px;
  background-color: #0E536D;
  position: absolute;
  top: 4px;
  transition: all .6s;
}

.experience-button:hover h3::before,
.experience-button:hover h3::after {
  background-color: #F6B7AA;
}

.experience-button h3::before {
  left: -16px;
  transform: rotate(-6deg);
}

.experience-button h3::after {
  right: -16px;
  transform: rotate(6deg);
}

/* small */
.experience-button-sm {
  width: 100%;
  padding: 8px 0;
}

/* large */
.experience-button-lg {
  width: 193px;
  height: 193px;
  border-radius: 50%;
  right: 48px;
  bottom: 8px;
}

.experience-button-lg h3 {
  padding-top: 45.5px;
}

.experience-button-lg h3::before,
.experience-button-lg h3::after {
  height: 90px;
  top: 60px;
}

.experience-button-lg h3::before {
  left: -8px;
  transform: rotate(-12deg);
}

.experience-button-lg h3::after {
  right: -8px;
  transform: rotate(12deg);
}

.experience-button-lg:hover {
  background-color: #F6B7AA;
  color: #0E536D;
  opacity: .7;
}

.experience-button-lg h3,
.experience-button-lg p {
  transition: all .6s;
}

.experience-button-lg:hover h3,
.experience-button-lg:hover p {
  transform: translateY(-8px);
}

.experience-button-lg:hover h3::before,
.experience-button-lg:hover h3::after {
  background-color: #0E536D;
}

/* --------------------------
        footer
-----------------------------*/

footer {
  background-color: #0E536D;
  color: #fff;
  width: 100%;
  height: calc(280px + 83px);
  padding: 16px 0;
  text-align: center;
}

footer .title-text::before,
footer .title-text::after {
  content: none;
}

footer .title-text {
  position: static;
}

.footer-title {
  text-align: center;
}

footer .address {
  text-align: center;
  margin: 32px 0 16px;
}

.sns {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.sns li + li {
  margin-left: 16px;
}

i {
  color: #fff;
  font-size: 32px;
  transition: all .3s ease;
}

.bi-facebook:hover {
  color: #1877f2;
}

.bi-twitter:hover {
  color: #1da1f2;
}

small {
  font-size: 14px;
}

/* --------------------------
        contact
-----------------------------*/
#contact {
  max-width: 600px;
}

.form-text {
  margin-top: 32px;
}

.form-attention {
  font-size: 14px;
  margin-top: 4px;
}

#contact span {
  color: #FF0000;
}

form {
  margin-top: 64px;
}

label {
  display: inline-block;
  width: 100%;
}

label + label {
  margin-top: 24px;
}

input,
select,
textarea {
  width: 100%;
  padding: 4px 8px;
}

textarea {
  height: 96px;
}

.form-buttons {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 48px;
}

button {
  all: unset;
}

.form-buttons a,
 button {
  display: inline-block;
  background-color: #F6B7AA;
  color: #0E536D;
  width: 104px;
  line-height: 40px;
  text-align: center;
  border-radius: 16px;
}

.contact-footer {
  height: fit-content;
}


/* medium screen */
@media (min-width: 600px) {
  #about li {
    flex-direction: column-reverse;
    width: calc(50% - 16px);
  }
  
  #about li:nth-child(even) {
    flex-direction: column-reverse;
  }

  #about li:nth-child(1),
  #about li:nth-child(2) {
    margin-bottom: 80px;
  }

  #about ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #about li p,
  #about li img {
    width: 100%;
  }
  
  #about li + li {
    margin-top: 0;
  }
  
  #about li img {
    margin-bottom: 24px;
  }

  #lecturer .section-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 100px 16px;
  }
  
  #lecturer .section-text {
    width: 40%;
  }
  
  .section-info img {
    width: 40%;
    margin-top: 0;
    max-height: 169px;
  }

  #fee .section-inner {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

}

/* large screen */
@media (min-width: 800px) {
  .site-title {
    flex: 1;
  }
  
  /* ハンバーガーメニュー */
  .hamburger {
    display: none;
  }

  .header-nav {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .header-nav-list {
    display: flex;
  }

  .header-nav-list li a {
    color: #0E536D;
    font-weight: 500;
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    transition: all .3s;
    position: relative;
    transition: all .6s;
  }

  .header-nav-list li a:hover {
    text-shadow: 1px 1px 2px #FAE06A;
    font-weight: 600;
  }

  .header-nav-list li a::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #0E536D;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: transform .6s;
  }

  .header-nav-list li a:hover::after {
     transform: scale(1);
  }

  #main-visual .container {
    right: 16px;
  }

  /* --- main-visualのBOX定義 --- */
  .main-visual-img {
    width: 70%;
    height: calc((var(--vh, 1vh) * 100) - 80px);
    margin-left: auto;
  }

  .main-visual-img::before {
    content: '';
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, #fff, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .main-visual-text {
    margin-top: calc((100vh - 80px) / 2 - 12px);
  }
  
  .main-visual-text li {
    right: 0;
  }
  
  .main-image {
    top: calc(50% - 133px);
    left:15%;
    z-index: 2;
  }
  
  .main-image img {
    height: calc((var(--vh, 1vh) * 50) - 80px);
    margin: 0;
  }
  
  #about li {
    width: calc(25% - 16px * 2);
  }
  
  #about li:nth-child(1),
  #about li:nth-child(2) {
    margin-bottom: 0;
  }
  
  #access .section-inner {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  #access .address {
    width: 40%;
  }
  
  .iframe-wrap{
    width: calc(60% - 24px);
    padding: 0;
    height: 450px;
  }
  
  .iframe-wrap iframe{
    height: 450px;
  }

  .footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
  }

  .footer-title,
  footer .address,
  .sns {
    width: calc((100% - 48px) / 3);
  }

  .footer-title {
    text-align: left;
  }

  footer .address {
    /* text-align: center; */
    margin: 0;
  }

  .sns {
    /* display: flex;
    justify-content: center; */
    margin-bottom: 0;
    justify-content: flex-end;
  }
  
  


}




